body
{
    font-size: 2vw;
font-family: Arial, Helvetica, sans-serif;
color: white;
text-align: center;
background-image: url("/img/sa.jpg");
background-repeat: no-repeat;
background-size: 100%100%;
overflow: auto;
padding-top: 10vw;
padding-left: 5vw; 
}
@media(max-width:600px)
{
    body{
        padding-top: 28vw;
padding-left: 0vw; 


    }
    label{
        font-size: 4.5vw;
        
    }
   
    
    table{
        text-align: center;
        width: max-content;
        
        overflow: auto;
        }
}
table{
text-align: center;
width: 40vw;
max-width: auto;
overflow: auto;
}
.tab1{
    
font-size: 2vw;
 overflow: auto;
   
margin: auto;
}
.tab{
    
    padding: 0.5vw ;
    font-size: 34px;
}

.current,.sign{
    text-decoration: none;
    display: inline-block;
    padding: 0.5vw 2vw;
    font-size: 2vw;
    color:#09e2f1;
    background-color: transparent;
    border: 0.2vw solid #07d2e0;
    border-radius: 5px;
    cursor: pointer;
    
}
a:hover,.current{
    background-color: rgba(15, 241, 230, 0.253);
    color:rgb(20, 199, 199);
}
.btn{
    padding-left:7vw;
    padding-bottom:0.4vw ;
   
}
.sbtn{
    display: block;
    width: 80%;
    height: 65%;
    background-color: #14af17;
    color: white;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 7px;
    box-shadow: 0 6px rgb(5, 136, 12);
    padding-bottom:0.4vw ;
}
.sbtn:hover {
    background-color: #037e07
    
}

.sbtn:active {
    background-color: #0f8613;
    box-shadow: 0 3px rgb(5, 136, 12);
    transform: translateY(4px);
  }
  .fbtn{
    display: block;
    width: 80%;
    height: 65%;
    background-color: #ee2416;
    color: white;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    border-radius: 5px;
    box-shadow: 0 6px rgb(168, 7, 7);
    padding-bottom:0.4vw ;
    align-self: center;
}
.fbtn:hover {
    background-color: #cf0d0d
    
}

.fbtn:active {
    background-color: #b60909
    box-shadow: 0 3px rgb(168, 7, 7);
    transform: translateY(2px);
  }